body {
    font-family: 'Lato', sans-serif;
    /*background-color: #EB658A;*/
    /*background-color: #F0A2B5;*/
    /*color: #ffffff;*/
    padding: 0;
    margin: 0;
}

.home_button {
    background-color: #fff !important;
}

.home_welcome {
}

.home_title {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    color: #272727;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: .5em 0;
    line-height: 0.84;
}

.home_cover {
    /*background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(240,162,181,1) 100%), url("cover.png") center no-repeat;*/
    /*min-height: 475px;*/
    background: url("cover.jpg") center no-repeat;
    width: 100%;
    min-height: 500px;
    background-position: 50% 50%;
    background-size: cover;
}

.home_form {
    width: 100%;
    text-align: center;
    margin-top: -6em;
}
    .home_form .home_button {
        border: none !important;
        line-height: inherit !important;
        font-family: 'Permanent Marker', cursive !important;
        font-size: 1.3em !important;
        color: #333 !important;
        padding: .4em 1em !important;
        height: auto;
    }

label {
    color: white;
}

