html, body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrap {
    height: 100%;
}

.header {
    padding: .5em .75em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    line-height: 1;
    color: #272727;
    background-color: #fff;
}


.home_welcome {}
.landing_hero {
    background: url("cover.jpg") center no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    text-align: center;
}
.home_form {
    width: 100%;
    text-align: center;
    margin-top: -6em;
}
    .home_button {
        background-color: #fff !important;
    }
    .home_form .home_button, button {
        border: none !important;
        line-height: inherit !important;
        font-family: 'Permanent Marker', cursive !important;
        font-size: 1.3em !important;
        color: #333 !important;
        padding: .4em 1em !important;
        height: auto;
    }

label {
    color: white;
}




.bgwhirl {
    background: url("bgwhirl.png") center no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.bgwhirl, .bgwhirl > * {
    flex-shrink: 0;
}
.party_wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 2em;
}
    .party_card {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 2.5em 3em;
        background-color: #fcfcfc;
        border-radius: 18px;
        cursor: pointer;
    }
    .party_card:hover {
        box-shadow: 5px
    }
        .party_cardtext {
            text-align: left;
            font-size: 3em;
            line-height: 1.2;
        }


/* Larger than tablet */
@media (max-device-width: 750px) {
    .party_cardtext {
        /*font-size: 4em;*/
    }
}
