/* **********************************************************************/
/* Mods/overrides of skeleton.css */

html, body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

code {
    font-size: 1.1em;
}

/* **********************************************************************/
/* Helper classes */

.boxshadow {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
    .boxshadow:hover {
        box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    }

.dropshadow {
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.4));
}
    .dropshadow:hover {
        filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.4));
    }

/* **********************************************************************/
/* Specific DOM classes */

.wrap {
    height: 100%;
}

.header {
    padding: .5em .75em;
    text-align: left;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.5em;
    line-height: 1;
    color: #272727;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
    .header_wordmark {
        flex-grow: 0;
    }
        .wordmark, .wordmark:hover, .wordmark:active, .wordmark:visited {
            color: #272727;
            text-decoration: none;
            margin-right: .36em;
        }
        .header_by {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: .6em;
        }
    .header_links {
        flex-grow: 0;
        align-self: center;
    }
        .tg {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("tg.png");
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }

.help_icon {
    position: fixed;
    top: 1.45em;
    right: 1.45em;
    width: 3em;
    height: 3em;
    background-image: url("help.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

.home_welcome {}
.landing_hero {
    background-color: #EB658A;
    background: url("cover.jpg") center no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    text-align: center;
}
.home_form {
    width: 100%;
    text-align: center;
    margin-top: -6em;
}
    .home_button {
        background-color: #0FA0CE !important;
        border: 6px solid #fff !important;
        line-height: inherit !important;
        font-family: 'Permanent Marker', sans-serif !important;
        font-size: 1.3em !important;
        color: #fff !important;
        padding: .2em .6em !important;
        border-radius: 2em;
        height: auto;
    }

.bgwhirl {
    background-color: #EB658A;
    background: url("bgwhirl.png") center no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.bgwhirl, .bgwhirl > * {
    flex-shrink: 0;
}
.main_wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 2em;
    flex-direction: column;
}
    .backbutton {
        cursor: pointer;
        margin-right: .7em;
        margin-bottom: 1em;
    }
        .backbutton span {
            display: inline-block;
            width: 3em;
            height: 3em;
            background-image: url('back.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }
    .cardstuff_wrap {
        width: 100%;
        max-width: 600px;
        margin: 0;
    }
        .party_card {
            padding: 2.5em 3em;
            background-color: #fcfcfc;
            border-radius: 18px;
            cursor: pointer;
        }
            .party_cardtext {
                text-align: left;
                font-size: 3em;
                line-height: 1.2;
                word-break: break-word;
            }
        .card_footer {
            margin-top: .5em;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
            .twitterlink {
                font-size: 1.1em;
                display: inline-flex;
                align-items: center;
                background-color: #fff;
                border-radius: 1em;
                text-decoration: none;
            }
                .twitterlink .twittericon {
                    display: inline-block;
                    width: 1.5em;
                    height: 1.5em;
                    background-image: url('twitter.png');
                    background-position: 50% 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: #00aced;
                    border-radius: .75em;
                    margin: .2em 0 .2em .2em;
                }
                .twitterlink .linktext {
                    padding: 0 .6em 0 .4em;
                }

/* **********************************************************************/
/* Media styles */

@media (min-width: 850px) {
    .header {
        font-size: 2.5em;
    }
    .help_icon {
        top: 1em;
        right: 1em;
    }
    /*.tg {
        width: 32px;
        height: 32px;
    }*/

    .main_wrap {
        flex-direction: row;
    }
        .backbutton {
            margin-bottom: 2.37em;
        }
}
